<div id="tableheader">
    <table id="wdf_header">
    <tr>
        <% _.forEach(file.wdf.columnSet.byIndex,function(col){ %>
        <th data-size-col='<%- col.name %>'>
            <i class='fa fa-ellipsis-v' data-resize-col='<%- col.name %>'></i>
            <%- col.name %>
        </th>

        <% }); %>
    </tr>
    </table>
</div>
<div id="tablespacer"></div>
<table id="wdf_data">
    <% file.wdf.apply(function(row){ %>
    <tr>
        <% _.forEach(file.wdf.columnSet.byIndex,function(col){
            var attrs = file.format_attrs(row,col);
            var value = file.format_value(row,col);
        %>
        <td <%= attrs %>><div data-size-col='<%- col.name %>' class="masker"><%- value %></div></td>
        <% }); %>
    </tr>
    <% }); %>
</table>