$header_hight: 40;
$table_header: 25;

#logo{
  position: fixed;
  top: 0px;
  left: 0px;
  height: #{$header_hight}px;
  width: #{($header_hight*1.6)}px;
  background: url('./WebData.svg') no-repeat right top;
  background-size: contain;
}

#header,#spacer {
  height: #{$header_hight}px;
  width: 100%;
}

#tableheader,#tablespacer {
  height: #{$table_header}px;
  width: 100%;
}

#tableheader {
  top: #{$header_hight}px;
  left: 0px;
  position: fixed;
  background-color: lightgray;
}
#header {
  position: fixed;
  background-color: lightskyblue;
  border-bottom: 1px solid black;
  ol {
    margin-left: #{$header_hight}px;
    display: inline-block;
    li{
      padding-left: 2px;
      padding-right: 2px;
      display: inline-block;
    }
  }
}

[data-href]:hover{
  cursor: pointer;
  background-color: darkgray;
}

table{
  table-layout:fixed;
  border-collapse: collapse;
}

table,tr,td,th {
  border: 1px solid black;
}

table td, table th {
  padding: 2px;
  white-space: nowrap;
  .masker{
      overflow:hidden;
      width: 100%;
  }
}

td.numbers {
  text-align: right;
}

[data-resize-col]{
  font-size: #{ ($table_header - 5)}px;
  cursor: col-resize;
  float: right;
}